body {
  background-color: #fff;
  font-family: "Assistant", sans-serif;
  color: #071c4d;
}

// Navbar
.navbar-brand {
  img {
    max-height: 40px;
  }
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 70px;
  border-radius: 0;
}

.navbar-light {
  .navbar-nav {
    .nav-link {
      color: #071c4d;
      &.active {
        font-weight: bold;
        color: #071c4d !important;
      }
    }
  }
}

.btn-login {
  background-color: #071c4d;
  color: #fff;
  &:hover {
    background-color: #0a2462;
    color: #fff;
  }
}

// Header
header {
  margin-top: -68px;
  padding: 180px 0 165px;
  background-image: url("../images/header-background.jpg");
  background-size: cover;
  h1,
  p {
    color: #fff;
  }
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
  }
  .btn-get-started {
    background-color: #ff9e53;
    color: #fff;
    &:hover {
      background-color: #ffa968;
      color: #fff;
    }
  }
}

// Stats
.section-stats {
  margin-top: -50px;
  .stats-detail {
    padding-top: 15px;
    background: #fff;
    padding-left: 40px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 0;
  }
  p {
    font-size: 20px;
    font-weight: lighter;
  }
}

// Popular
.section-popular {
  min-height: 540px;
  background-color: #051334;
  margin-top: -50px;
  margin-bottom: -230px;
  .section-popular-heading {
    margin-top: 150px;
    h2,
    p {
      color: white;
    }
    h2 {
      font-family: "Playfair Display", serif;
      font-weight: bold;
      font-size: 40px;
    }
    p {
      margin-top: 14px;
      font-size: 18px;
    }
  }
}

.section-popular-content {
  .section-popular-travel {
    .card-travel {
      min-height: 380px;
      background-color: #ddd;
      color: white;
      padding: 30px;
      background-size: cover;
      margin-bottom: 20px;
    }
    .travel-country {
      font-size: 18px;
      color: #fff;
    }
    .travel-location {
      font-size: 26px;
      font-weight: bold;
      color: #fff;
    }
    .travel-button {
      .btn-travel-details {
        background-color: #ff9e53;
        color: #fff;
        &:hover {
          background-color: #ffa968;
          color: #fff;
        }
      }
    }
  }
}

// Networks
.section-networks {
  background-color: #fff;
  margin-top: -170px;
  padding-top: 240px;
  padding-bottom: 50px;
  h2,
  p {
    color: #071c4d;
  }
  h2 {
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: bold;
  }
  p {
    margin-top: 14px;
    font-size: 18px;
  }
  img {
    max-width: 100%;
    height: 70px;
  }
}

// Testimonials

.section-testimonial-heading {
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;

  h2,
  p {
    color: #071c4d;
  }

  h2 {
    font-weight: bold;
    font-size: 40px;
    font-family: "Playfair Display", serif;
  }

  p {
    margin-top: 14px;
    font-weight: 18px;
  }
}

.section-testimonial-content {
  margin-top: -300px;
  padding-bottom: 50px;

  img {
    height: 120px;
    width: 120px;
  }

  .card {
    padding: 40px 20px 10px;
    border-radius: 11px;
    margin-bottom: 20px;

    .testimonial-content {
      min-height: 380px;

      h3 {
        font-size: 22px;
        font-weight: bold;
      }

      .testimonial {
        font-weight: 200;
        font-size: 26px;
        color: #6e6e6e;
        min-height: 160px;
      }
    }
    hr {
      margin-left: -20px;
      margin-right: -20px;
    }
    .trip-to {
      font-weight: normal;
      color: #6e6e6e;
      font-size: 22px;
    }
  }

  .btn-need-help {
    background-color: #f2f2f2;
    font-weight: lighter;
    &:hover {
      background-color: #ebebeb;
    }
  }

  .btn-get-started {
    background-color: #ff9e53;
    color: #fff;
    &:hover {
      background-color: #ffa968;
      color: #fff;
    }
  }
}

// Footer

.section-footer {
  a {
    color: #071c4d;
    font-size: 18px;
  }

  h5 {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 22px;
  }
}

// .copyright {
//   font-size: 18px;
//   font-weight: lighter;

//   p {
//     margin: 30px 0 30px;
//   }
// }

// Details

.section-details-header {
  min-height: 310px;
  background-color: #e4e6eb;
  margin-top: -68px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 30px;
  }

  .breadcrumb-item {
    &.active {
      font-weight: bold;
      color: #071c4d;
    }
  }

  .card-details {
    padding: 30px;
    border-radius: 11px;

    h1 {
      font-size: 26px;
      font-weight: 600;
    }
    p {
      font-size: 18px;
      color: #b1b1b1;
    }
    h2 {
      font-size: 20px;
      font-weight: 600;
    }
    h3 {
      font-weight: normal;
      font-size: 16px;
      color: #071c4d;
    }

    .trip-informations {
      th {
        font-weight: 400;
        font-size: 18px;
        color: #071c4d;
      }

      td {
        font-weight: 300;
        font-size: 18px;
        color: #b1b1b1;
      }

      .text-blue {
        color: #071c4d;
        font-weight: 600;
      }

      .text-orange {
        color: #ff9e53;
        font-weight: 600;
      }
    }

    .payment-instructions {
      font-weight: 300;
      font-size: 14px;
      color: #b1b1b1;
    }

    .bank {
      .bank-item {
        h3 {
          font-size: 18px;
          color: #071c4d;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }

        .description {
          margin-left: 10px;
          overflow: hidden;
          float: left;

          P {
            font-weight: normal;
            font-size: 16px;
            color: #071c4d;
          }
        }
      }

      .bank-item {
        img {
          width: 45px;
          height: 45px;
          float: left;
        }
      }
    }

    .disclaimer {
      h3 {
        font-weight: 600;
        font-size: 14px;
        color: #071c4d;
      }
      p {
        font-weight: 300;
        font-size: 14px;
        color: #b1b1b1;
      }
    }

    .gj-datepicker {
      .datepicker {
        border-right: 0;
      }

      .input.group.append {
        .btn {
          padding-right: 30px;
        }
      }
    }

    .btn-add-now {
      border-radius: 4px;
      background: #071c4d;
      color: #fff;
      &:hover {
        border-radius: 4px;
        background: #112c6c;
        color: #fff;
      }
    }
  }

  .card-right {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .features {
    margin-top: 20px;

    h3 {
      font-size: 18px;
      color: #071c4d;
      margin-bottom: 0;
    }

    p {
      font-size: 14px;
      color: #b1b1b1;
      margin-bottom: 0;
    }

    .features-image {
      height: 45px;
      width: 45px;
      float: left;
    }

    .description {
      margin-left: 10px;
      overflow: hidden;
      float: left;
    }
  }

  .gallery {
    margin-bottom: 30px;
    .xzoom-container {
      display: block;

      .xzoom {
        width: 100%;
        box-shadow: none;
        margin-bottom: 12px;
      }

      .xactive {
        border: 4px solid #1abc9c;
        box-shadow: none;
      }
    }
  }
}

.member {
  .member-image {
    width: 40px;
    height: 40px;
  }
}

.join-container {
  margin-top: -16px;
}

.btn-join-now {
  background-color: #ff9e53;
  color: #fff;
  font-weight: 600;
  border-radius: 0;

  &:hover {
    background-color: #ffa968;
    color: #fff;
    font-weight: 600;
    border-radius: 0;
  }
}
